$headerbackcolor:#35424a;
$color:#ffffff;
$footercolor:#fffaf0;
$primaryfont: Arial, Helvetica, sans-serif;
$primaryfontsize: 15px;

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #ffffff;
}


